.graph-controls-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  /* margin: 5px; */
  cursor: pointer;
}

.graph-controls-tab {
  height: 110%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1px; */
  margin: 3px;
  text-align: center;
  font-weight: bold;
  user-select: none;
  border-radius: 0 0 var(--radius) var(--radius);
}

.graph-controls-tab:hover {
  background-color: #f3faff;
}

.graph-controls-active {
  background-color: var(--hiblue);
  color: white;
}
.graph-controls-active:hover {
  background-color: var(--higreen);
}

@media only screen and (max-width: 530px) {
  .graph-controls-table {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
