/* .info-table {
  margin: 10px;

  border-radius: 10px;
}
.info-table-outer {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  margin-bottom: 10px;
}
.channel-row {
  grid-template-columns: 1fr 4fr;
}
.block-txn-row {
  grid-template-columns: 3fr 7fr;
}

.info-table-row {
  display: grid;

  padding: 5px;
}
.info-table-row:first-of-type {
  border-top: none;
}

.info-key {
  padding-left: 20px;
}

.info-table-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  height: 30px;
  width: 30px;
} */
