.container {
  width: 100%;
  max-height: 400px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  min-width: 600px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container::-webkit-scrollbar {
  width: 5px;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
}
.container::-webkit-scrollbar-thumb {
  background-color: var(--fore);
  border-radius: 3px;
}

.container:hover.container::-webkit-scrollbar-thumb {
  background-color: var(--hiblue);
}
