.block-data-table {
  --table-border: #61affe !important;
  --table-bkg-color: #eaf5ff !important;
}
.txn-data-table {
  --table-border: #59dd4d !important;
  --table-bkg-color: #e0ffdd !important;
}

.info-table {
  --table-border: #a561fe;
  --table-bkg-color: #eee4fd;

  margin: 10px;
  border: 2px solid var(--table-border);
  border-radius: 10px;
  background-color: var(--table-bkg-color);
}
.info-table-outer {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  margin-bottom: 10px;
}
.info-row {
  display: grid;
  grid-template-columns: 2fr 3fr;

  border-top: 1px solid var(--table-border);
  padding: 5px;
}
.info-row:first-of-type {
  border-top: none;
}

.info-key {
  padding-left: 20px;
}

.info-table-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--table-bkg-color);
  border: 2px solid var(--table-border);
  border-radius: 5px;
  height: 30px;
  width: 30px;
}
