.table {
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;

  text-align: center;
}

.cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;

  border-left: 1px solid var(--bkg);
}

.cell:first-of-type {
  border-left: none;
}

.title {
  max-width: 300px;

  padding: 10px;
  box-sizing: border-box;

  color: var(--hiblue);
  text-align: left;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: monospace;
  user-select: text;
  /* overflow: scroll; */
  word-wrap: break-word;
  padding-left: 10px;
}
