header {
  height: 150px;
  margin: 70px 10px 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--fore);

  border-radius: var(--radius);
}

header h1 {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  header {
    height: 240px;
  }
  header h1 {
    font-size: 2em;
  }
}
