header {
  height: 150px;
  margin: 70px 10px 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--fore);

  border-radius: var(--radius);
}
