.recent-block-table {
  grid-template-columns: 35px auto auto auto 45px;
  margin: 5px;
}

@media only screen and (max-width: 1010px) {
  .recent-block-table {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 35px auto 45px;
  }
}
