.pagination-container {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  height: 10px;
  margin: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--hihover);
  border-radius: 5px;
  padding: 7px;
}

.pagination-button:hover {
  background-color: var(--hilite);
}

.pagination-indicator {
  align-self: flex-end;
  text-align: center;
  margin-right: 15px;
}
.pagination-text-cell {
  width: 30px;
}

.pagination-icon-cell {
  width: 20px;
}

.pagination-icon {
  font-size: 16pt;
  color: white;
}

@media only screen and (max-width: 400px) {
  .pagination-container {
    flex-direction: column;
  }
}
