#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--fore);
  border-bottom: 1px solid var(--lolite);
}

#nav.nav-show {
  min-height: 50px;
}
#nav.nav-hide {
  height: 50px;
}
.nav-toggler {
  display: none;
}

.nav-container {
  width: 100%;
  display: flex;
}

.nav-container.nav-hide {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-container.nav-show {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  height: 50px;
  width: auto;
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
}

.nav-logo:hover {
  opacity: 0.7;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
}
.nav-link a {
  color: var(--hiblue);
  text-decoration: none;
}
.nav-link a:hover {
  color: var(--higreen);
}

/* SPAN for false links */
.nav-link span {
  color: var(--hiblue);
  text-decoration: none;
}
.nav-link span:hover {
  color: var(--higreen);
}

.nav-menu.nav-show {
  display: flex;
}
.nav-menu.nav-hide {
  display: none;
}
@media only screen and (max-width: 800px) {
  .nav-toggler {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  .nav-menu {
    display: flex !important;
  }
  .nav-container {
    justify-content: space-between !important;
  }
  .nav-container.nav-show {
    flex-direction: row;
  }
}
