.app-service-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-items: center;

  height: 50px;

  margin-top: 20px !important;
  font-weight: bold;
}

.app-service-icons {
  margin: 10px;
}
