.app-service-table {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;

  height: 50px;

  margin-top: 20px !important;
  font-weight: bold;
}

.app-service-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-service-icon-image {
  width: 45px;
  user-select: none;
  -webkit-user-drag: none;
}
