body {
  --bkg: #eef0f6;
  --fore: #fff;

  --hilite: #e95654;
  --hihover: #feb0af;
  /* --font: #000000; */

  --lolite: #495867;
  --hiblue: #74b3ce;
  --higreen: #09bc8a;

  /* --hilite: #375bd2;
  --hihover: #6dc0d5;
  --hibright: #8cdfd6;
  --neutral: #b2cede;
  --dark: #5a716a; */

  --font: #495867;

  --bgkImg: url("../images/ethersteal.svg");

  --radius: 10px;

  --gradient-fill: linear-gradient(90deg, var(--hilite), var(--hibright));
  --gradient-fill-pre: linear-gradient(90deg, var(--hilite), var(--hilite));

  box-sizing: border-box;

  margin: 0;
  display: flex;
  justify-content: center;

  background: var(--bkg);

  color: var(--font);

  font-family: sans-serif;

  user-select: none;
  -webkit-user-drag: none;
}
main {
  margin: 0;
  padding: 0;
}

@keyframes link-hover {
  0% {
    background: var(--hilite);
  }
  100% {
    background: var(--hihover);
  }
}

.textured-bkg {
  background-image: var(--bgkImg);
}

.selectable {
  user-select: text;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99.2vw;
  /* height: 100vh; */
  background: var(--bkg);
}

.app {
  width: 1400px;
  min-height: calc(100vh - 60px);
}

.splitcolumns {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.section-full {
  grid-column: 1/3;
}

.section-centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10px;
  padding: 20px;
  margin: -20px -20px 10px -20px;

  background-image: var(--gradient-fill);
  color: var(--font);
  border-radius: 5px 5px 0px 0px;
}

.section-title span {
  font-size: 16px;
  font-weight: bold;

  padding: 5px 20px;
}

.section-table-link {
  width: 100%;
  height: 50px;

  padding: 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius);

  /* border: 2px solid var(--hihover); */

  background-color: var(--hilite);

  color: #fff;
  text-decoration: none;
}
.section-table-link:hover {
  animation: link-hover 0.5s ease forwards;
}

.gradient-flair {
  background-image: linear-gradient(90deg, var(--hilite), var(--hibright));
}
.flair-small {
  height: 10px;
  width: 100%;
  border-radius: 5px;
}

.loading-block {
  text-align: center;
  padding-top: 20px;
}

.section-block {
  background-color: var(--fore);
  padding: 20px;
  margin: 10px;
  border-radius: var(--radius);
}
.with-flair {
  display: grid;
  grid-template-columns: 10px 1fr;
}
.vert-flair {
  background-image: linear-gradient(0, var(--hilite), var(--hibright));
  border-radius: 5px;
  content: " ";
  width: 10px;
  margin: -10px;
}

.font-hilite {
  color: var(--hilite);
}
.font-clicky {
  color: var(--higreen);
}

@media only screen and (max-width: 699px) {
  .splitcolumns {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1400px) {
  .app {
    width: 95vw;
  }
}
.__react_component_tooltip {
  transform: translateZ(100%);
  z-index: 10 !important;
  background-color: var(--hilite) !important;
}
