.modal {
  position: fixed;
  z-index: 5;
}

.modal-background {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(153, 153, 153, 0.9);
}

.modal-table {
  background-color: var(--fore);
  border-radius: var(--radius);
  /* width: 400px; */
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hilite);
  border-radius: var(--radius) var(--radius) 0 0;
  text-align: center;
  color: white;
}

.modal-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10px;
  border-bottom: 1px solid var(--bkg);
}
.modal-row div {
  margin: 5px;
}
.modal-row .info-val {
  padding-left: 10px;
}
