.scrolly {
  overflow-x: auto;
}
.no-animate {
  animation: none;
}

.tableBlock {
  overflow-x: auto;
}

.header {
  border: none !important;
  animation: none !important;
}

.still {
  animation: none;
}

.row {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;

  background-color: var(--fore);
  border-top: 1px solid var(--bkg);
  border-bottom: 1px solid var(--bkg);

  animation: appear 0.4s ease-in forwards;
  transform-style: preserve-3d;
}

.row:first {
  border-top: 0px;
}

.row div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row a {
  text-decoration: none;
}

.header .identicon {
  border: none;
}

.header .txncount {
  background-color: transparent;
}

.identicon {
  width: 30px;
  height: 30px;

  border: 2px solid var(--bkg);
  border-radius: var(--radius);

  animation: icon-animate 0.7s ease-in;
}

.blocknum {
  min-width: 80px;
  max-width: 160px;
}

.hash {
  min-width: 120px;
}

.time {
  width: 60px;
}
.largeTime {
  max-width: 200px;
}

.txncount {
  width: 30px;
  height: 30px;
  background-color: var(--bkg);
  border-radius: var(--radius);
}

.service {
  width: 40px;
}

.link {
  text-decoration: none;
  color: var(--higreen);
}

@keyframes icon-animate {
  0% {
    border-color: var(--hilite);
  }
  100% {
    border-color: var(--bkg);
  }
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 400px) {
  .hiding {
    display: none !important;
  }
}
