.scrolly {
  overflow-x: auto;
}
.no-animate {
  animation: none;
}

.table-block {
  overflow-x: auto;
}

.data-table-row {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;

  background-color: var(--fore);
  border-top: 1px solid var(--bkg);
  border-bottom: 1px solid var(--bkg);

  animation: appear 0.4s ease-in forwards;
  transform-style: preserve-3d;
}

.data-table-row:first {
  border-top: 0px;
}

.data-table-row div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-table-row a {
  text-decoration: none;
}

.data-table-header {
  z-index: 5;
  background-color: white;
  border: none;
  animation: none !important;
}

.data-table-header .identicon-cell {
  border: none;
}

.data-table-header .txncount-cell {
  background-color: transparent;
}

.identicon-cell {
  width: 30px;
  height: 30px;

  border: 2px solid var(--bkg);
  border-radius: var(--radius);

  animation: icon-animate 0.7s ease-in;
}

.blocknum-cell {
  min-width: 80px;
  max-width: 160px;
}

.hash-cell {
  min-width: 120px;
}

.time-cell {
  width: 60px;
}
.large-time-cell {
  max-width: 200px;
}

.txncount-cell {
  width: 30px;
  height: 30px;
  background-color: var(--bkg);
  border-radius: var(--radius);
}

.service-cell {
  width: 40px;
}

.info-table-link {
  text-decoration: none;
  color: var(--higreen);
}

@keyframes icon-animate {
  0% {
    border-color: var(--hilite);
  }
  100% {
    border-color: var(--bkg);
  }
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 400px) {
  .hiding-cell {
    display: none !important;
  }
}
