.skeleton-table {
  /* padding: 10px; */
  background-color: #f8fafd;
  border: 1px solid var(--fore);
  border-radius: 10px;
  animation: skeleflash 1s infinite alternate;
}

.skeleton-table div {
  background-color: var(--bkg);
}

.skeleton-table .identicon-cell {
  animation: none;
}
.skeleton-table .service-cell {
  width: 25px;
  height: 25px;
  border-radius: var(--radius);
}

@keyframes skeleflash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
