footer {

  align-items: center;
  background-color: var(--lolite);
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.603);
  display: flex;
  flex-direction: row;
  font-size: 9pt;
  height: 200px;
  justify-self: flex-end;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 30px;
  text-align: left;
  width: 100%;
}

.mainCell {
  align-items: center;
  display:flex;
  flex-direction: column;
  gap:10px;
  height:170px;
  justify-content: flex-start;
}
.linkCell {
  align-items: center;
  display:flex;
  flex-direction: column;
  gap:10px;
  height:100px;
  justify-content: flex-start;
  margin-top:25px;
}
.worldCell {
  align-items: center;
  display:flex;
  flex-direction: column;
  gap:10px;
  height:100px;
  justify-content: flex-start;
  margin-top:25px;
}

.contactLinks {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width:100%;
}

.contactLinks img {
  height: 18px;
}

.link {
  color: #ddd;
  font-size: 10pt;
  text-decoration: none;
}
.link:hover {
  color: #fff;
}
.link:visited {
  color: #bbb;
}

.logo {
  width: 100px;
}


.title {
  font-size: 10pt;
  font-weight: bold;
  color: white;
}

.world {
  height: 100px;
}


@media only screen and (max-width: 700px) {
  footer {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .worldCell {
    display: none;
  }
  a {
    text-align: center;
  }
}