footer {
  justify-self: flex-end;

  height: 200px;
  width: 100%;

  box-sizing: border-box;
  padding: 30px;
  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--lolite);
  color: rgba(255, 255, 255, 0.603);

  font-size: 9pt;

  text-align: left;
}

.general {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.world img {
  height: 100px;
}
.internalLinks {
  min-width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contactLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactLinks img {
  /* width: 50px; */
  height: 18px;
}

.title {
  font-size: 10pt;
  font-weight: bold;
  color: white;
}

.link {
  font-size: 10pt;
  color: #ddd;
  text-decoration: none;
}
.link:hover {
  color: #fff;
}
.link:visited {
  color: #bbb;
}

.logo {
  width: 120px;
  filter: grayscale(100%);
}

@media only screen and (max-width: 700px) {
  footer {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20%;
  }

  .internalLinks {
    margin: 10px 0px;
  }
  .link {
    margin: 10px 0px;
  }

  .world {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .app {
    width: 95vw;
  }
}
