body {
  --bkg: #f0efef;
  --fore: #fff;
  --hilite: #e95654;
  --font: #000000;
  --radius: 10px;

  margin: 0;
  display: flex;
  justify-content: center;

  background: #efefef;

  font-family: sans-serif;
}
main {
  margin: 0;
  padding: 0;
}

.app {
  width: 1400px;
  height: 100vh;
  background: var(--bkg);
}

.splitcolumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-title {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--fore);
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: var(--radius);
}

.section-table-link {
  width: 100%;
  height: 50px;

  padding: 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius);

  background-color: var(--hilite);

  color: white;
  text-decoration: none;
}

.loading-block {
  text-align: center;
  padding-top: 20px;
}

.section-block {
  background-color: var(--fore);
  padding: 20px;
  margin: 10px;
  border-radius: var(--radius);
}

.modal {
  position: fixed;
  z-index: 5;
}
/* .modal-table {
} */

.modal-background {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(153, 153, 153, 0.9);
}

.font-hilite {
  color: var(--hilite);
}

@media only screen and (max-width: 699px) {
  .splitcolumns {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1400px) {
  .app {
    width: 95vw;
  }
}
