.info-table {
  display: grid;
  margin: 5px;
  padding: 5px;
}
.info-table-row {
  border-top: 1px solid var(--bkg);
  overflow: hidden;
}

.table-animate {
  animation: appear 0.4s ease-in forwards;
}

@keyframes appear {
  0% {
    /* background-color: var(--hilite); */
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

.info-table-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.info-table-col span {
  text-align: left;
}

.info-table-icon-col {
  /* background-color: #ccc; */
  padding: 5px;
  border: 2px solid var(--bkg);
  border-radius: var(--radius);
  animation: icon-animate 0.7s ease-in forwards;
}

@keyframes icon-animate {
  0% {
    border: 2px solid var(--hilite);
  }
  100% {
    border: 2px solid var(--bkg);
  }
}
.info-table-txcount-col {
  background-color: var(--bkg);
  padding: 5px;
  border-radius: var(--radius);
}
.info-table-icon-cell {
  padding: 5px 5px 1px 5px; /* The icon has its own padding underneath :S*/
  border-radius: 5px;
  cursor: pointer;
}
.info-table-txcount-cell {
  background-color: var(--bkg);
}

.info-table-content-span {
  justify-self: start;
}

@media only screen and (max-width: 1010px) and (min-width: 700px) {
  .info-table-icon-col {
    grid-area: 1/1/4/1;
  }
  .info-table-txcount-col {
    grid-area: 1/3/4/4;
  }
}
@media only screen and (max-width: 500px) {
  .info-table-icon-col {
    grid-area: 1/1/4/1;
  }
  .info-table-txcount-col {
    grid-area: 1/3/4/4;
  }
}
