.contract-detail-table {
  width: 100%;
  margin: 10px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  text-align: center;
}

.cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-left: 1px solid var(--bkg);
}

.cell:first-of-type {
  border-left: none;
}

.cell-title {
  max-width: 80px;

  padding: 10px;
  box-sizing: border-box;

  color: var(--hiblue);
  text-align: left;
}
.cell-content {
  max-width: 200px;
  display: flex;
  align-items: center;
}

.contract-description-container {
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;

  margin: 10px;
  padding: 10px;
}

.contract-description-tab {
  min-height: 200px;
  padding: 10px;

  border: 1px solid var(--bkg);
  border-radius: 0 var(--radius) var(--radius) var(--radius);
}

.contract-history-table {
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
}

.contract-link-box {
  display: flex;
}

.contract-link-box .section-table-link {
  margin: 10px;
}

.contract-tab-menu {
  display: flex;
}

.contract-tab-menu .tab {
  width: 100px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius) var(--radius) 0 0;

  font-weight: bold;
  color: var(--font);

  cursor: pointer;
}
.active-tab {
  background-color: var(--hiblue);
  color: white !important;
}

@media only screen and (max-width: 800px) {
  .contract-detail-table {
    grid-template-columns: 1fr 1fr;
  }
  .cell:first-of-type {
    border-left: 1px solid var(--bkg);
  }
}

@media only screen and (max-width: 500px) {
  .contract-detail-table {
    grid-template-columns: 1fr;
  }
}
