.contract-history-table {
  width: 100%;
  margin: 10px;
  box-sizing: border-box;
}
.contract-code {
  min-height: 250px;
}

.contract-link-box {
  display: flex;
}

.contract-link-box .section-table-link {
  margin: 10px;
}
