.recent-txn-table {
  grid-template-columns: 35px 1fr 3fr 200px;
  margin: 5px;
}
.recent-txn-header {
  grid-template-columns: 35px 1fr 3fr 200px;
  margin: 5px;
}

.recent-txn-contract-icon-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contract-icon-image {
  width: 28px;
  user-select: none;
  -webkit-user-drag: none;
}

@media only screen and (max-width: 1010px) and (min-width: 700px) {
  .recent-txn-table {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 35px auto;
  }
  .recent-txn-contract-icon-col {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .recent-txn-table {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 35px auto;
  }
  .recent-txn-contract-icon-col {
    padding-left: 10px;
  }
}
