:root {
  --rowHeight: 70px;
}

.center {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  min-width: 600px;
  height: var(--rowHeight);

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-top: 1px solid var(--bkg);
  background-color: var(--fore);

  animation: appear 0.4s ease-in forwards;
  transform-style: preserve-3d;
}

.row div {
  font-family: monospace;
}

/* Cells */

.iconCell {
  width: 70px;
  height: var(--rowHeight);
}
.row .iconCell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hashCell {
  width: 200px;
  height: 50px;
}
.row .hashCell {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* padding-left: 10px; */
  align-items: center;
}

.actionCell {
  width: 200px;
  height: 50px;
}
.row .actionCell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.row .actionCell span {
  margin: 3px;
}

/* Cell Contents */

.hash a {
  color: var(--higreen);
  text-decoration: none;
  cursor: pointer;
}

.tofrom {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tofrom i {
  font-size: 7pt;
  /* font-weight: 500; */
  margin-right: 5px;
}

i {
  color: var(--hiblue);
}

@keyframes appear {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
