.search {
  width: 80%;
}
.search-box {
  display: flex;
}
.search-input-field {
  width: 100%;
  border: 2px solid #eee;
  border-radius: 5px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 26px;
  height: auto;
  padding: 5px;
  user-select: none;
  -webkit-user-drag: none;
}
.search-error-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  color: var(--hilite);
  margin: 5px;
  text-align: center;
}
.search-error-icon:hover {
  color: var(--hihover);
}
