.search {
  width: 80%;
}
.search-box {
  display: flex;
}
.search-input-field {
  width: 100%;
  height: 30px;
  border: 2px solid #eee;
  border-radius: 5px 0px 0px 5px;
}

.search-icon {
  width: 26px;
  height: 26px;
  margin-left: -2px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--hilite);
  border-radius: 0px 5px 5px 0px;

  cursor: pointer;

  user-select: none;
  -webkit-user-drag: none;
}

.search-icon:hover {
  background-color: var(--hihover);
}

.search-error-icon {
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16pt;
  color: #fff;
  text-align: center;

  cursor: pointer;
}
.search-error-icon:hover {
  color: var(--hihover);
}
