.recent-block-table {
  grid-template-columns: 35px 1fr 2fr 2fr 45px;
  margin: 5px;
}

.recent-block-header {
  grid-template-columns: 35px 1fr 2fr 2fr 45px;
  margin: 5px;
}

@media only screen and (max-width: 1010px) and (min-width: 700px) {
  .recent-block-table {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 35px auto 45px;
  }
}
@media only screen and (max-width: 500px) {
  .recent-block-table {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 35px auto 45px;
  }
}
