.details-table {
  width: 100%;
  background-color: var(--fore);
  border-radius: var(--radius);
}

.details-table-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px;
  justify-content: center;
  align-items: center;
  background-color: var(--hilite);
  border-radius: var(--radius) var(--radius) 0 0;
  text-align: center;
  color: white;
}
.details-table-links-box {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}

.details-table-header-link i {
  color: white;
  font-size: 14pt;
  text-decoration: none;
  transform: rotateY(-90);
  cursor: pointer;
}

.details-table-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10px;
  border-bottom: 1px solid var(--bkg);
}
.details-table-row div {
  margin: 5px;
}
.details-table-row .info-val {
  padding-left: 10px;
}
