main {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.section-title {
  font-size: 22px;
  font-weight: bolder;

  padding: 5px 20px;
  /* background-color: aqua; */
}

.section-block-scrollable {
  max-height: 270px;
  overflow-y: scroll;
}

.loading-block {
  text-align: center;
  padding-top: 20px;
}
