.contract-table-name-cell {
  width: 180px;
}
.contract-table-name-cell > span {
  width: 100%;
  text-align: left;
}
.contract-table-icon-cell {
  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.contract-table-ver-cell {
  width: 200px;
}
.contracts-see-more {
  height: 100%;
  margin: 20px;
}
.contracts-see-more a {
  text-decoration: none;
  color: var(--hiblue);
}
.contracts-see-more a:hover {
  color: var(--higreen);
}
.contracts-see-more a {
  text-decoration: none;
}
