.name {
  width: 180px;
}
.name :is(span, a) {
  width: 100%;
  text-align: left;
}

.icon {
  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.version {
  width: 200px;
}

.date {
  width: 200px;
}
.seeMore {
  align-self: flex-end;
  height: 100%;
  margin: 20px;
}
.seeMore a {
  text-decoration: none;
  color: var(--hiblue);
}
.seeMore a:hover {
  color: var(--higreen);
}
