.details-table {
  width: 100%;
  background-color: var(--fore);
  border-radius: var(--radius);
}

.details-table-header {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 100px;
  justify-content: center;
  align-items: center;

  background-color: var(--hilite);
  border-radius: var(--radius) var(--radius) 0 0;

  text-align: center;
  color: white;
}
.details-table-links-box {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}

.details-table-header-link i {
  color: white;
  font-size: 14pt;
  text-decoration: none;
  transform: rotateY(-90);
  cursor: pointer;
}

.details-table-row {
  padding: 5px;

  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: start;
  align-items: center;

  border-bottom: 1px solid var(--bkg);
  box-sizing: border-box;
}
.details-table-row div {
  margin: 5px;
}
.details-table-row .info-val {
  padding-left: 10px;
}

.info-col {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-key {
  color: var(--hiblue);
}

.validity-icon {
  width: 100px;
  height: 30px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 5px;
}

.validity-icon.invalid {
  background-color: rgb(255, 228, 232);
  color: rgb(235, 135, 135);
}

.validity-icon.valid {
  background-color: rgb(235, 255, 235);
  color: rgb(1, 179, 1);
}
